// Font
$main-font: 'Roboto', sans-serif;
$font-light: 400;
$font-mid: 500;
$font-bold: 900;

// colors
$main-dark: #000;
$main-light: #fff;
$main-green: #007f00;
$main-moon: #fffa86;
$main-sun: #ffd27d;
$sun-fog: #ffa371;
